<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<form asp-action="Login" class="mt-5">
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="password" placeholder="Password" />
    <input type="submit" value="Submit" />
</form>